CONFIG_ZB_ENABLED=y
CONFIG_ZB_ZCZR=y
CONFIG_ZB_RADIO_NATIVE=y
# CONFIG_ZB_GP_ENABLED is not set
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_ASYMMETRIC_CONTENT_LEN=y
CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=8192
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=2048
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_SSL_VARIABLE_BUFFER_LENGTH=y
# CONFIG_MBEDTLS_SSL_KEEP_PEER_CERTIFICATE is not set
CONFIG_ZGW_MQTT_NETWORK_TIMEOUT_MS=30000
CONFIG_ZGW_MQTT_RECONNECT_TIMEOUT_MS=45000
CONFIG_ZGW_MQTT_RESUME_AFTER_OTA_DELAY_MS=2000
# CONFIG_ZGW_OTA_TLS_TRUST_CERT_BUNDLE is not set
CONFIG_ZGW_OTA_TLS_TRUST_PINNED_CA=y
# CONFIG_ZGW_OTA_ALLOW_HTTP_URLS_FOR_TESTING is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_SPI_FLASH_SUPPORT_BOYA_CHIP=y
